* {
    box-sizing: border-box;
}

body {

    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;

}

p {
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.container {
    
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;

}

                /*HEADER*/
                
header {
    
    background: url(../img/bg-landing.jpg)center top no-repeat;
    background-size: auto 300px;;
    background-color: #4e95bf;
    padding-top: 20px;
    color: white;
}

header a {

    text-transform: uppercase;
    text-decoration: none;
    color: white;

}

header nav {
    
    float: right;
    margin-top: 20px;

}

header nav a{
    
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    text-align: right;
    
}

header p {
 
     color: white;
     margin-top: 10px;
    
}    

h1 {
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    font-weight: 80;
    margin-top: 30px;

}

                /*MAIN*/

h2 {
    
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    margin-bottom: 40px;
}

span {

    color: #4e95bf;

}
                


                /*FOOTER*/

footer {

    color: white;    
    height: 150px;
    background-color: #484848;
    padding-top: 50px
}

footer a {

    text-transform: uppercase;
    text-decoration: none;
    color: white;

}

footer nav {

    float: right;
    margin-top: 15px;
}

footer nav a {

    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: small;

}